.big-heading{
    font-size: 10rem;
    color: yellow;
    font-family: cursive;
}

.margin-50{
    margin: 50px;
}

.button-style{
    border-radius: 20px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}